#description-body
    background: white
    color: $title-text-color

    h1
        text-align: center
        color: $title-text-color

.description-content 
    display: flex
    align-items: center
    justify-content: center
    margin-top: 60px

    img
        display: block
        margin: auto

    .description-item
        width: 40%
        margin: 0 auto

        p
            font-size: 20px


.interface-content
    display: flex
    align-items: center
    justify-content: center
    margin-top: 80px

    .interface-item
        width: 45%
        margin: 0 auto

        img
            display: block
            margin: auto

        p
            font-size: 20px




    