#description-body
    background: white
    color: $title-text-color

    h1
        text-align: center
        color: $title-text-color

.description-content 
    display: flex
    align-items: center
    justify-content: center
    margin-top: 60px

    img
        display: block
        margin: auto

    .description-item
        width: 40%
        margin: 0 auto

        p
            font-size: 18px
            line-height: 150%


.interface-content
    display: flex
    align-items: center
    justify-content: center
    margin-top: 100px

    .interface-item
        width: 42%
        margin: 0 auto

        img
            display: block
            margin: auto

        p
            font-size: 18px
            line-height: 150%




    