#header
    background: url("../img/header_img.jpg") no-repeat
    background-size: cover
    height: 700px
    color: white
    text-align: center

    @media only screen and (max-width: 625px)
        height: 550px
    

    article
        width: 60%
        margin: 0 auto
        margin-top: 160px

        @media only screen and (max-width: 625px)
            width: 90%
            margin-top: 100px
        h1
            font-size: 40px
            @media only screen and (max-width: 625px)
                font-size: 30px
        p
            font-size: 21px
            line-height: 160%

.main-nav
    display: flex
    margin-top: 10px

    li
        list-style: none

    li:first-child
        margin-right: auto
   
    a
        color: white
        display: block
        text-decoration: none
        border-radius: 20px
        padding: 8px 20px
        transition: all 0.2s ease
    a:hover, a:active
        color: $accent-color

a.contact-button
    border: 2px
    border-color: white
    border-style: solid
    transition: all 0.2s ease
a.contact-button:hover
    outline: 0
    background: $secondary-color
    color: white


