#mision-description
    background: url(../img/mision_img.jpg) no-repeat
    background-size: cover
    height: 695px
    color: white
    text-align: center
    padding: 200px

.block-paragraph
    display: flex
    align-items: center
    justify-content: center

.paragraph
    padding: 0 50px
    width: 100%
    max-width: 600px
    margin: 0 auto

    h1
        font-size: 40px

    p
        font-size: 21px
        line-height: 160%
