#mision-description
    background: url(../img/mision_img.jpg) no-repeat
    background-size: cover
    height: 695px
    color: white
    text-align: center
    padding: 200px 80px

    h1
        font-size: 40px

    p
        font-size: 21px
        line-height: 160%
        width: 100%
        max-width: 900px
        margin: 0 auto
