#profile-section
    background: white
    text-align: center
    color: $title-text-color
    padding: 120px
    line-height: 50%

.profile-block
    display: grid
    grid-template-columns: repeat(3, auto)

.radius-img
    border-radius: 600px
    width: 240px
    height: 240px
