#team-description
    background: url("../img/team_bakground.jpg") no-repeat
    background-size: cover
    color: white
    text-align: center
    height: 392px
    padding: 80px

    h1
        text-transform: uppercase
    
    p
        width: 60%
        margin: 0 auto
        font-size: 20px